@import "mixin";
@import "smooth";
@import "fonts"

header {
  @include header;

  h3 {
    @include textStyle(1.2rem, purple, green, 0.5rem 4rem);
  }

  p {
    font-size: 1.2rem;
    max-width: 50%;
    text-align: center;
  }
}
