header {
    height: 50rem;
    width: 100%;
}

.headerTop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
    margin-bottom: 10rem;
}

.headerBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    margin: 3rem 0rem;
}

.story {
    padding: 1rem 4rem;
}

.storyIntro {
    margin-bottom: 4rem;
}

.storyFactsFrame {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.storyFacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
}